<div class="container">
    <div class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 400px;">
            <h4 class="card-title mt-3 text-center">Create User</h4>

            <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="First name" type="text" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && myForm.name.errors }"
                    >
                </div> <!-- form-group// -->
              
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input name="" class="form-control" placeholder="Email address" type="email"  formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && myForm.email.errors }">
                </div> <!-- form-group// -->  
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create User </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->

</div>